.container {
  margin: 16px 20px 0;
}

.tab {
  margin: 0 20px;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-top: none;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}