.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}

.divider {
  margin: 0 4px;
}

.main {
  font-size: 22px;
}

.action span {
  display: inline-flex;
  height: 28px;
  align-items: center;
  padding: 3px 10px;
}

.action {
  display: inline-block;
  height: 28px;
  overflow: hidden;
  font-size: 12px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 0.25rem;
  margin-left: 10px;
}

.actionLabel {
  background: #eff3f6 linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  border-right: 1px solid rgba(27,31,35,.2);
  color: #24292e;
}

.actionValue {
}