.repository {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-color);
}

.title {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--title-color);
}

.description {
  margin: 16px 0;
}

.other {
  font-size: 12px;
}

.stars {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  margin-right: 20px;
}

.stars::before {
  margin-right: 4px;
}

.language {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.languageColor {
 display: inline-block;
 width: 12px;
 height: 12px;
 border-radius: 50%; 
 margin-right: 4px;
}

.hidden {
  display: none;
}