.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 16px;
}

.other {
  font-size: 12px;
}

.stars {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
}

.stars::before {
  margin-right: 4px;
}

.language {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.languageColor {
 display: inline-block;
 width: 12px;
 height: 12px;
 border-radius: 50%; 
 margin-right: 4px;
}

.hidden {
  display: none;
}