.head {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.path {
  margin-left: 16px;
  letter-spacing: 1px;
}

.path span {
  margin: 0 4px;
}

.content {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.content span::before {
  margin-right: 5px;
}