.container {
  position: relative;
}

.withMinHeight {
  min-height: 80px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.loading :global(.icon-spinner) {
  font-size: 18px;
  color: var(--primary-color);
  transform-origin: 50% 50%;
  animation: spinner-animation 1s infinite linear;
}

.loading.hidden {
  display: none;
}

.text {
  margin-top: 8px;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}