.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 40px;
}

.container img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 40px;
  border-radius: 20px;
  padding: 0 20px;
  color: white;
  text-decoration: none;
}

.signIn:hover {
  color: rgba(white, 0.6);
  text-decoration: none;
}

.container :global(.icon-github::before) {
  margin-right: 8px;
  font-size: 18px;
}