.head {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.path {
  margin-left: 16px;
  letter-spacing: 1px;
}

.path span {
  margin: 0 4px;
}

.content {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.content span::before {
  margin-right: 5px;
}

.readme {
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid var(--border-color);
}

.readmeTitle {
  padding: 8px 12px;
  background-color: var(--primary-color);
}

.readmeContent {
  padding: 20px;
}

.branches {
  padding: 4px 0;
}

.branch a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
}

.branch:hover {
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
}

.branch a:hover {
  color: white;
  text-decoration: none;
}