.container {
  padding: 20px 30px;
}

.tabs {
  margin-top: 12px;
}

.tab {
  padding: 20px;
  border: 1px solid #dee2e6;
  border-top: none;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}