.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-bottom: var(--light-border);
}

.nav {
  display: flex;
  align-items: center;
}

.nav li {
  margin-left: 20px;
}

.title {
  font-size: 20px;
  color: var(--title-color);
}

.iconSearch {
  padding: 0 8px;
  color: var(--border-color);
}