.header {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  min-width: 32px;
  margin-right: 8px;
  border-radius: 4px;
}

.key {
  margin: 0 6px;
}

.time {
  font-size: 12px;
  opacity: 0.6;
  margin-left: 6px;
  margin-top: 3px;
}